<section>
  <p>We’re a book store  in the lower east side that sells pickles and used books</p>
  <a href="/collections/merch">Shop Merch</a>
  <img src="" alt="Pickle image here">
  <a href="/collections/books">Shop Books</a>
</section>