*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

:root {
  --base-fg: #018136;
  --accent-fg: #069648;
  --base-bg: #F4F4F4;

  --mono: monospace;
  --serif: serif;
  --sans: sans-serif;

}

body {
  margin: 0 auto;
  width: 67rem;
}